fastapi
uvicorn[standard]
pydantic
pydantic-settings

# Database
motor # Async MongoDB driver

# S3 Storage
boto3

# For file uploads from forms
python-multipart

# Environment variable loading
python-dotenv

# JWT support
python-jose[cryptography] 