fastapi
uvicorn[standard]
pydantic
pydantic-settings

markdown-it-py

python-slugify

jinja2

# Database
motor # Async MongoDB driver

# S3 Storage
boto3

# For file uploads from forms
python-multipart

# Environment variable loading
python-dotenv

# JWT support
python-jose[cryptography]

# Password hashing
passlib[bcrypt]

# HTML sanitization
html-sanitizer>=2.0.0

# HTML sanitization
# bleach>=5.0.0 