{
	# Global options block (optional)
	# Enable Admin API (useful for debugging/dynamic config)
	admin :2019
	# Disable auto HTTPS for dev (localhost), включить для продакшена
	auto_https off
	# acme_ca https://acme-staging-v02.api.letsencrypt.org/directory # Use Let's Encrypt staging for testing
}

(site_common) {
    encode gzip zstd

    @static {
        path /*
        not path /admin/* /images/* /storage/*
    }
    file_server @static {
        root /srv/static_output
        index index.html index.htm
    }

    reverse_proxy /admin/* http://admin_app:8000

    # ---- MinIO ----
    handle_path /storage/* {
        uri strip_prefix /storage      # /storage/images/… -> /images/…
        reverse_proxy http://minio:9000 {
            header_up Host minio:9000
        }
    }

    log {
        output stdout
        format console
    }
}

# ---- сайты ----
{$CADDY_DOMAIN_NAME}:80, {$CADDY_DOMAIN_NAME}:443 {
    import site_common
}

:80 {                 # docker‑compose публикует 80 наружу как 8080
    import site_common
}